
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Learning C| Profile</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--bootstrap libs-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>





        <style>
            #container {
                float: left;
                margin: 0px auto;
                width: 320px;
                height: 240px;
                border: 10px #333 solid;
            }
            #container2 {
                float: left;
                margin: 0px auto;
                width: 320px;
                height: 240px;
                border: 10px #333 solid;
            }

        </style>

    </head>
    <body>

        <div class="container">
            <!-- First row -->
            <div class="row">

                <div class="col-sm-2" > </div>
                <div class="col-sm-8" >
                    <a href="/" class="list-group-item"> <h4>Learning C | Main</h4></a>
                </div>
            </div>
            <!-- First row -->
            <div class="row">

                <div class="col-sm-2" > </div>
                <div class="col-sm-8" >
                    <div class="panel panel-info">
                        <div class="panel-heading">

                            <h2>Practice Problems</h2>

                        </div>


                        <!-- Problem-->
                        <div class=""row">

                             <div class="well well-sm"> 
                                
                              
                                <br><strong>Note:</strong>Click on a label to view the problems<br><div class="panel-group" id="accordion"><div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapsebasic">Label: basic</a>
                                        </h4>
                                    </div>
                                    <div id="collapsebasic" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="list-group"><a href="/Page?label=basic&pid=110" class="list-group-item"> <h4>#110::Sum N; using equation</h4></a><a href="/Page?label=basic&pid=35" class="list-group-item"> <h4>#35::Factorial!</h4></a><a href="/Page?label=basic&pid=113" class="list-group-item"> <h4>#113::Swap</h4></a><a href="/Page?label=basic&pid=103" class="list-group-item"> <h4>#103::Odd Even</h4></a><a href="/Page?label=basic&pid=114" class="list-group-item"> <h4>#114::Right Angle </h4></a><a href="/Page?label=basic&pid=105" class="list-group-item"> <h4>#105::Prime Checker</h4></a><a href="/Page?label=basic&pid=106" class="list-group-item"> <h4>#106::Odd Even Sum</h4></a>                                        </div>
    
                                        </div>
                                    </div>
                                </div><div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseif-else">Label: if-else</a>
                                        </h4>
                                    </div>
                                    <div id="collapseif-else" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="list-group"><a href="/Page?label=if-else&pid=303" class="list-group-item"> <h4>#303::Hex Val</h4></a><a href="/Page?label=if-else&pid=108" class="list-group-item"> <h4>#108::Word Count</h4></a>                                        </div>
    
                                        </div>
                                    </div>
                                </div><div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseloop">Label: loop</a>
                                        </h4>
                                    </div>
                                    <div id="collapseloop" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="list-group"><a href="/Page?label=loop&pid=111" class="list-group-item"> <h4>#111::Sum N; using Loop</h4></a><a href="/Page?label=loop&pid=115" class="list-group-item"> <h4>#115::String Properties</h4></a><a href="/Page?label=loop&pid=501" class="list-group-item"> <h4>#501::Hello Loop</h4></a><a href="/Page?label=loop&pid=502" class="list-group-item"> <h4>#502::Find Minimum</h4></a><a href="/Page?label=loop&pid=107" class="list-group-item"> <h4>#107::Find Average</h4></a>                                        </div>
    
                                        </div>
                                    </div>
                                </div><div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapsearray">Label: array</a>
                                        </h4>
                                    </div>
                                    <div id="collapsearray" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="list-group"><a href="/Page?label=array&pid=109" class="list-group-item"> <h4>#109::Reverse World</h4></a>                                        </div>
    
                                        </div>
                                    </div>
                                </div><div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseexam">Label: exam</a>
                                        </h4>
                                    </div>
                                    <div id="collapseexam" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="list-group"><a href="/Page?label=exam&pid=121" class="list-group-item"> <h4>#121::Characterization</h4></a><a href="/Page?label=exam&pid=122" class="list-group-item"> <h4>#122::Money everywhere!</h4></a><a href="/Page?label=exam&pid=123" class="list-group-item"> <h4>#123::new_question</h4></a><a href="/Page?label=exam&pid=124" class="list-group-item"> <h4>#124::Leap Year</h4></a><a href="/Page?label=exam&pid=125" class="list-group-item"> <h4>#125::Vowel or Consonent</h4></a><a href="/Page?label=exam&pid=116" class="list-group-item"> <h4>#116::Find Max</h4></a><a href="/Page?label=exam&pid=118" class="list-group-item"> <h4>#118::Circle!</h4></a><a href="/Page?label=exam&pid=119" class="list-group-item"> <h4>#119::Two Number</h4></a><a href="/Page?label=exam&pid=120" class="list-group-item"> <h4>#120::String Info</h4></a>                                        </div>
    
                                        </div>
                                    </div>
                                </div></div>   










                            </div>



                            <div class="panel-footer">
                                C with love.

                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <div class="col-sm-1" > </div>
        </div>


    </body>
</html>
