
<!DOCTYPE html>
<html lang="en">
<head>
    <title>NEUB OJ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--bootstrap libs-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>





    <style>
        #container {
            float: left;
            margin: 0px auto;
            width: 320px;
            height: 240px;
            border: 10px #333 solid;
        }
        #container2 {
            float: left;
            margin: 0px auto;
            width: 320px;
            height: 240px;
            border: 10px #333 solid;
        }

    </style>

</head>
<body>

<div class="container">
    <!-- First row -->
    <<div class="row">

                <div class="col-sm-2" > </div>
                <div class="col-sm-8" >
                    <a href="/OnlineJudgeC/" class="list-group-item"> <h4>Learning C | NEUB OJ</h4></h4></a>
                </div>
            </div>

    <!-- First row -->
    <div class="row">

        <div class="col-sm-2" > </div>
        <div class="col-sm-8" >
            <div class="panel panel-info">
                <div class="panel-heading">

                     <h2>Submit Code</h2>

                </div>




                <!-- Problem-->
                <div class=""row">

                    <div class="well well-sm">
                        <br>
                        <p><strong>Note:</strong>Type information Carefully!</p>
                        
                        
                            <form role="form" action="CodeReceiver" method=post>
                                
                                <label for="id">Problem Id:</label>
                                <input type = "text" name="id" placeholder = "1">
                                
                                <textarea class="form-control" rows="5" name="codecode" id="ccode" placeholder = "C Code"></textarea><br>
                                <button type="submit" class="btn btn-success">Submit</button>
                             </form>
                      
                    

                    </div>

                     

                <div class="panel-footer">
                   All rights reserved by Dept. of CSE, NEUB

                </div>

                </div>


                </div>
            </div>
        </div>
        <div class="col-sm-1" > </div>
    </div>


</body>
</html>
